!!!
html(lang="en")
  head
    title tinker.js
    link(rel="stylesheet",href="/css/bootstrap.css")
    link(rel="stylesheet",href="/css/font-awesome.min.css")
    link(rel="stylesheet",href="/src/styles.less")

  body
    .container-fluid
      .row-fluid
        #editor.span6
        #output.span6
    #log-output
    button#log-summary.btn-link

    script(src="/lib/ace.js",type="text/javascript",charset="utf-8")
    script(src="/lib/keybinding-vim.js",type="text/javascript",charset="utf-8")
    script(src="/src/main.js",type="text/javascript",charset="utf-8")
