!!!
html(lang="en")
  head
    title tinker.js
    link(rel="stylesheet",href="/css/bootstrap.css")
    link(rel="stylesheet",href="/css/font-awesome.min.css")
    link(rel="stylesheet",href="/src/styles.less")
    script(data-main="/src/main",src="/lib/require.js")
