!!!
html(lang="en")
  head
    title tinker.js
    link(rel="stylesheet",href="/css/bootstrap.css")
    link(rel="stylesheet",href="/css/font-awesome.min.css")
    link(rel="stylesheet",href="/src/styles.less")
    script(src="/lib/LAB.min.js",type="text/javascript",charset="utf-8")
    script(type="text/javascript",charset="utf-8")
      $LAB
        .script("/lib/ace.js")
        .script("/lib/keybinding-vim.js")
        .script("/lib/elv.min.js")
        .script("/src/tinker.js").wait(function () {
          new Tinker({ theme: 'default' }).start();
        });
