!!!
html(lang="en")
  head
    title tinker.js
    link(rel="stylesheet",href="/css/bootstrap.css")
    link(rel="stylesheet",href="/css/font-awesome.min.css")
    link(rel="stylesheet",href="/src/styles.less")
    script
      var TinkerConfig = {
        id: '#{id}',
        mode: '#{mode}',
        modes: [
          'coffee',
          'javascript',
          'markdown'
        ],
        theme: '#{theme}',
        themes: [{
          name: 'idle fingers',
          editor: 'ace/theme/idle_fingers',
          css: 'idle-fingers'
        }, {
          name: 'twilight',
          editor: 'ace/theme/twilight',
          css: 'twilight'
        }]
      };
    script(data-main="/src/main",src="/lib/require.js")
