!!!
html(lang="en")
  head
    title tinker.js
    link(rel="stylesheet",href="/css/bootstrap.css")
    link(rel="stylesheet",href="/css/font-awesome.min.css")
    link(rel="stylesheet",href="/src/styles.less")
    script(src="/lib/ace.js",type="text/javascript",charset="utf-8")
    script(src="/lib/keybinding-vim.js",type="text/javascript",charset="utf-8")
    script(src="/lib/elv.min.js",type="text/javascript",charset="utf-8")
    script(src="/src/utils.js",type="text/javascript",charset="utf-8")
    script(src="/src/js_runner.js",type="text/javascript",charset="utf-8")
    script(src="/src/tinker.js",type="text/javascript",charset="utf-8")
    script(type="text/javascript",charset="utf-8")
      window.onload = function () {
        new Tinker({ theme: 'default' }).start();
      };
